[*.cs]

# CS8766: Допустимость значений NULL для ссылочных типов в типе возвращаемого значения не соответствует неявно реализованному элементу (возможно, из-за атрибутов допустимости значений NULL).
dotnet_diagnostic.CS8766.severity = none
